---
title: Partisan Cheesemonger & Deli
---

<div class="welcome">
  <a href="mailto:hello@partisan-deli.co.uk">
    <div class="logo">
      <%= image_tag "logo-white.png" %>
    </div>
  </a>
</div><!-- .welcome -->
<div id=map-c>
  <div id="map">
  </div>
</div>
